$puttyLight: rgb(219, 218, 196, 0.7)
$putty:  rgb(219, 218, 196)
$darkBrown: rgb(13, 13, 11)
$warmGrey: rgb(77, 72,60, .7)
$vividGreen: rgb(62, 142, 78)

.bg-putty-light 
    background-color: $puttyLight
.bg-putty
    background-color: $putty
.bg-warmGrey
    background-color: $warmGrey
.bg-vividGreen
    background-color: $vividGreen
.text-darkBrown
    color: $darkBrown
.text-vividGreen
    color: $vividGreen

.color-hover a
    &:hover
        color: white
