@import "fonts"
@import "null"
@import "color"

body
    font-family: Roboto-Regular 
    background: url(@img/bootstrap.png) no-repeat
    min-height: 100%
    background-size: cover
h1 
    font-family: Roboto-Thin
h2 
    font-family: Roboto-Black
h3 
    font-family: Roboto-Light
.Roboto-Medium
    font-family: Roboto-Medium
.letterSpace1
    letter-spacing: 1px
.size16
    font-size: 1em
.size25
    font-size: 1.5em
.size41
    font-size: 2.5em
.size33
    font-size: 2em
.padding13
    padding: 0 13px 0 0
.padding13-right
    padding-right: 13px
.padding12-botttom
    padding-bottom: 12px
.header_padding
    padding: 20px 0
.padding_null
    padding: 0
//main
.padding50_bottom
    padding-bottom: 50px
.section_padding
    padding: 265px 0 95px 0
.padding18
    padding-right: 18px
.padding50
    padding: 50px 0
.padding58_bottom
    padding-bottom: 58px
//footer
.footer_padding
    padding: 40px 0 55px 0
.padding5-bottom
    padding-bottom: 5px
.padding10-bottom
    padding-bottom: 10px
.padding40-bottom
    padding-bottom: 40px
.padding26-bottom
    padding-bottom: 26px
//section last

.padding60-54
    padding: 60px 0 54px 0
.padding64-60
    padding: 64px 0 60px 0
.padding70_bottom
    padding-bottom: 70px
.padding80_bottom
    padding-bottom: 80px
.padding88_top
    padding-top: 88px
.padding44_bottom
    padding-bottom: 44px
.padding50_bottom
    padding-bottom: 50px
.padding15-bottom
    padding-bottom: 15px
.padding148-bottom
    padding-bottom: 148px
//section_pred_last
.padding45-24
    padding: 45px 0 25px
.borderBlack
    border: 8px solid black
.box_value
    overflow: hidden


    


   

    
    
    