@import "fonts"

body
    font-family:  Roboto-Regular
    background-color: grey
h1 
    font-family: Roboto-BlackItalic
h2 
    font-family: Roboto-ThinItalic
h3 
    font-family: Roboto--Light
span
    color: green
    background: url("@img/3.png") 0 0 no-repeat

@media (max-width: 768px) 
    span 
        font-size: 20px
        color: grey
    

@media (max-width: 768px) 
    body 
        background-color: bisque
.size25
    font-size: 1.563
    